.std-body{
    align-items: center;
    background-color: #dedede;
    display: flex;
    justify-content: center;
}

table.std-table{
    border: #000000;
    border-width: thin;
    border-style: solid;
}

table.std-table tr {
    background-color: #70dafb;
}

table.std-table th, td{
    padding: 12px;
}

table.std-table th {
    background-color: #07bdff;
    color: black;
}

.content-pane{
    max-width: 500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    margin: auto;

    border: 1px solid;
    box-shadow: 1px 2px;
}