.statusBoxConnected {
    -fx-text-fill: white;
    -fx-background-color: rgb(33, 104, 33);
}

.statusBoxDisconnected {
    -fx-text-fill: white;
    -fx-background-color: black;
}

.toggleButtonSelected {
    -fx-text-fill: black;
    -fx-alignment: center ;
    -fx-opacity: .75 ;
    -fx-background-color: #cccccc;
    -fx-border-color: #858585;
    -fx-border-width : 3;
}

.toggleButtonNotSelected {
    -fx-text-fill: black;
    -fx-alignment: center ;
    -fx-opacity: 1.0 ;
    -fx-background-color: #bbbbbb;
    -fx-border-color: #bbbbbb;
    -fx-border-width : 0;
}

.statusLabelEnabled {
    -fx-text-fill: rgb(3, 192, 3);
    -fx-background-color: #5e5e5e;
}

.statusLabelDisabled {
    -fx-text-fill: rgb(255, 0, 0);
    -fx-background-color: #5e5e5e;
}

.darkPane{
    -fx-background-color: #3f3f3f;
}