.statusBoxConnected {
    -fx-text-fill: white;
    -fx-background-color: green;
}

.statusBoxDisconnected {
    -fx-text-fill: white;
    -fx-background-color: red;
}

.toggleButtonSelected {
    -fx-text-fill: black;
    -fx-alignment: center ;
    -fx-opacity: .75 ;
    -fx-background-color: #cccccc;
}

.toggleButtonNotSelected {
    -fx-text-fill: black;
    -fx-alignment: center ;
    -fx-opacity: 1.0 ;
    -fx-background-color: #bbbbbb;
}

.statusLabelEnabled {
    -fx-text-fill: green;
    -fx-background-color: #aaaaaa;
}

.statusLabelDisabled {
    -fx-text-fill: red;
    -fx-background-color: #aaaaaa;
}